body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body{
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(45deg, #e3ff8e, #4f8f70);
    font-family: 'Fjalla One', serif;
}
.App {
  text-align: center;
}

/* Login */
.LoginBox{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 80%;
    height: 70%;
    margin: auto;
    background-color: whitesmoke;
    border-radius: 15px;
    box-sizing: border-box;
    box-shadow: 0 5px 3px 6px rgb(13, 56, 13);
    animation-name: fadeIn;
    animation-duration: 1.5s;
}

@keyframes fadeIn {
    0%{
        bottom: 300px;
    }
    100%{
        bottom: 0;
    }
}
.LoginBox h1{
    text-align: center;
}

.LoginBox img{
    text-align: center;
    min-height: 70px;
}
.LoginBox button{
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    border-radius: 5px;
}
.LoginBox button:hover{
    color: white;
    transform: scale(1.1);
}

.Logo-main{
    height: 120px;
    text-align: center;
}

@media only screen and (orientation: portrait){
    .LoginBox{
        height: 75%;
    }   
}

@media only screen and (orientation: landscape) and (min-width: 1000px){
    .LoginBox{
        height: 450px;
        width: 40%;
    }   
}
@media(min-width: 750px) and (orientation: portrait){
    .LoginBox{
        height: 50%;
    }
}

@media(min-height: 800px) and (min-width: 700px){
    .LoginBox{
        height: 45%;
        width: 40%;
        font-size: 25px;
    }
}

/* Button */
.Button {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

.Button:disabled {
    color : #ccc;
    cursor: not-allowed;
}

.Success {
    color: #5C9210;
    border-radius: 15px;
    background-color: white;
}

.Danger {
    color: #944317;
}

.Primary{
    color: black;
    background: linear-gradient(45deg, rgb(35, 116, 42), rgb(63, 175, 101));
}

/* Content */

/* Bug profile */
.BugProfile {
    margin: 50px auto;
    width: 90%;
    box-shadow: 0 2px 3px #ccc;
    border: 3px solid #eee;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 15px;
}
.BugProfile input{
    border-radius: 0;
}

@media (min-width: 600px){
    .BugProfile{
        width: 500px
    }
}

/* Logo */
.Logo{
    background-color: transparent;
    padding: 8px;
    height: 100%;
    box-sizing: border-box;
    border-radius: 5px;
}

.Logo img {
    height: 100%;
}
.Logo-main{
    height: 120px;
    text-align: center;
}

/* Input */
.Input{
    width: 100%;
    padding:10px;
    box-sizing: border-box;
}

.Label{
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
    text-indent: 10px;
    font-size: 20px;
}

.InputElement{
    outline:none;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: white;
    font: inherit;
    padding: 6px 15px;
    width: 100%;
    display: block;
    box-sizing: border-box;

}

.InputElement:focus{
    outline: none;
    background-color: #ccc;
}

.InputElement.Invalid{
    border: 1px solid rgb(124, 4, 4);
    background-color: rgb(247, 147, 136);
}
.InputElement.Valid{
    border: 1px solid rgb(2, 56, 10);
    background-color: rgb(109, 230, 149);
}

.ValidationError {
    color: red;
    margin: 5px 0;
    font-size: 10px;
} 

/* Content */
.Content{
    margin-top: 72px;
}
.MenuBar{
    width: 100%;
    height: 40px;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(45deg, #83C5A4, #388273);

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
    z-index: 90;

}

.Logo-menu {
    height: 100%;
    text-align: center;
}

.Sidebar{
    position: fixed;
    width: 200px;
    max-width: 70%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 200;
    background: linear-gradient(45deg, #2F4858, #27656E);
    padding: 32px 0;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
    border-right: #394B41 15px solid;
}

@media(min-width: 500px){
    .SideDrawer{
        display: none;
    }
}

.Open{
    transform: translateX(0);
}

.Close{
    transform: translateX(-100%);
}

.Logo-side {
    height: 15%;
    margin-bottom: 32px;
}
.NavigationItems{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column;
    width: 100%;
    align-items: stretch;
    height: 100%;
}
.Backdrop{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.5);
}
.Backdrop .Close{
	background-color: rgba(0,0,0,1);
}
.Backdrop .Open{
	background-color: rgba(0,0,0,0);
}
/* Content-main */
.Content-layout{
    margin-top: 72px;
}
.Content{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
        "mybugs logs"
        "allbugs logs"
        ;
    margin: auto;
    width: 95%;
    gap: 20px 20px;
}

@media(max-width: 500px){
    .Content{
        grid-template-columns: auto;
        grid-template-areas: 
            "mybugs"
            "allbugs"
            "logs"
        ;
    }
}

/* MyBugs */
.MyBugs{
    grid-area: mybugs;
    border: solid springgreen 1px;
    box-sizing: border-box;
    min-height: 100px;
    height: auto;
    background-color: #CEFBE3;
    border-radius: 20px;
    position: relative;
}
.Header{
    border-bottom: black 2px solid;
}
.Header h1{
    height: 100%;
    text-indent: 25px;
    margin: 10px 0;
}
.Footer{
    text-align: right;
}
.Footer button{
    padding: 8px;
    margin: 10px 30px;
    font-size: 18px;
    border-radius: 5px;
    color: black;
    border: #1D1D35 solid 1px;
    background-color: #CEFBE3;

}

.Footer button:focus,
.Footer button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
    outline: none;
}

/* ListItem */
.ListItem{
    height: 100%;
    margin: 0px;
    border-bottom: #4F8F70 1px solid;
    box-sizing: border-box;
    display: block;
}
.ListItem a{
    padding: 5px 10px 0 10px;
    font-size: 20px;
    color: blueviolet;
    text-decoration: none;
    box-sizing: border-box;
}
.ListItem a:hover,
.ListItem a:focus{
    text-decoration: underline;
}
.ListItem .Under {
    padding: 0;
    margin: 0 10px;
    font-size: 11px;
}
.Under p{
    margin: 0
}
/* Sidebar toggle */
.SidebarToggle {
    width: 40px;
    height: 70%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0;
    box-sizing: border-box;
    cursor: pointer;
}

.SidebarToggle div {
    width: 80%;
    height: 5px;
    margin-bottom: 3px;
    background-color: black;
}

/* Logs */
.Logs{
    grid-area: logs;
    border: 1px solid orangered;
    box-sizing: border-box;
    min-height: 200px;
    height: auto;
    background-color: #CEFBE3;
    border-radius: 20px;
    position: relative;
}

.Header-log{
    border-bottom: black 2px solid;
}
.Header-log h1{
    height: 100%;
    text-indent: 25px;
    margin: 10px 0;
}
.Footer-log{
    text-align: right;
}
.Footer-log button{
    padding: 8px;
    margin: 10px 30px;
    font-size: 18px;
    border-radius: 5px;
    color: black;
    border: #1D1D35 solid 1px;
    background-color: #CEFBE3;

}

.Footer-log button:focus,
.Footer-log button:hover{
    cursor: pointer;
    outline: none;
}

/* allbugs */
.AllBugs{
    grid-area: allbugs;
    border: orangered 1px solid;
    box-sizing: border-box;
    min-height: 200px;
    height: auto;
    background-color: #CEFBE3;
    border-radius: 20px;
    position: relative;
}

.Header-all{
    border-bottom: black 2px solid;
}
.Header-all h1{
    height: 100%;
    text-indent: 25px;
    margin: 10px 0;
}
.Footer-all{
    text-align: right;
}
.Footer-all button{
    padding: 8px;
    margin: 10px 30px;
    font-size: 18px;
    border-radius: 5px;
    color: black;
    border: #1D1D35 solid 1px;
    background-color: #CEFBE3;

}

.Footer-all button:focus,
.Footer-all button:hover{
    cursor: pointer;
    outline: none;
}
/* Profile */
.View{
	margin: 10px 0;
	padding: 30px;
}
.Profile {
	padding-top: 50px;
}