<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta charset="ISO-8859-1">
		<title>Insert title here</title>
	</head>
	<body>
		
		pokinaenae welcome to my system
		<table>
			<tr>
				<th>id</th>
				<th>issue</th>
			</tr>
			<tr th:each="obj :${myBugs}">
				<td th:text="*{obj.id}">id</td>
				<td th:text="*{obj.issue}">issue</td>
			</tr>
		</table>
	</body>
</html>